@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$easter-pink: #ffc0cb;
$easter-green: #98fb98;
$easter-lavender: #e6e6fa;
$easter-yellow: #ffffe0;
$easter-blue: #87ceeb;

$theme-colors: (
	'primary': $easter-pink,
	'secondary': #e76d82,
	'success': $easter-green,
	'info': $easter-blue,
	'warning': $easter-yellow,
	'danger': $easter-lavender,
	'light': #fbf1e7,
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';
