@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%232a5b72' fill-opacity='0.04'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

h1 {
	font-size: 2.5rem; /* 2 times the base font size */
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.8rem; /* 1.8 times the base font size */
	margin-top: 1.3rem;
	margin-bottom: 0.8rem;
}

h3 {
	font-size: 1.6rem; /* 1.6 times the base font size */
	margin-top: 1.1rem;
	margin-bottom: 0.6rem;
}

h4 {
	font-size: 1.4rem; /* 1.4 times the base font size */
	margin-top: 0.9rem;
	margin-bottom: 0.4rem;
}

h5 {
	font-size: 1.2rem; /* 1.2 times the base font size */
	margin-top: 0.7rem;
	margin-bottom: 0.2rem;
}

h6 {
	font-size: 1rem; /* 1 times the base font size */
	margin-top: 0.5rem;
	margin-bottom: 0.1rem;
}

p {
	font-size: 1.2rem;
	margin: 0 0 1rem;
}

small {
	font-size: 0.8rem;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

h1,
h2,
h3 {
	font-family: 'Playfair Display', serif;
	margin-bottom: 1.5rem;
}

img {
	max-width: 100%;
}

.serif {
	font-family: 'Playfair Display', serif;
}

.headline-img {
	background-image: url('asset/headline-img.png');
	background-size: cover;
	opacity: 0.4;
}

.headline-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.8)
	);
}

.card,
.shadow {
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
	border: none;
}

.svg-section,
.coloring-book-section,
.quotes-section,
.story-section,
.video-section,
.welcome-section {
	position: relative;
	color: white;
	overflow: hidden;
	background-color: #2a5b72;
	background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.02'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	padding: 3rem 5rem;
}

.email * {
	font-size: 0.8rem;
}

.ornament,
.welcome-ornament {
	z-index: 1;
}

.ornament ~ *,
.welcome-ornament ~ * {
	z-index: 2;
}

.ornament-left > img {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 75%;
}
.ornament-right > img {
	position: absolute;
	top: 0;
	right: 0;
	height: 75%;
}

.welcome-ornament-left > img {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50%;
}

.welcome-ornament-right > img {
	position: absolute;
	top: 0;
	right: 0;
	height: 50%;
}

.section-list {
	font-size: 24px;
	font-weight: bold;
}

.section-list i {
	margin-right: 1rem;
}

@media (max-width: 576px) { /*HP*/
	#headline {
		font-size: 2.5rem;
	}

	#headline-content {
		font-size: 1.2rem;
		text-align: center;
	}

	#headline-caption {
		font-size: 1.2rem;
	}

	#title-summary {
		font-size: 1.5rem;
	}

	#content-summary {
		font-size: 1.2rem;
	}

}

@media (min-width: 768px) { /*Laptop*/
	#headline {
		font-size: 4rem;
	}

	#img-welcome {
		width: 70%;
	}

	#btn-cta {
		width: 50%;
	}
	
}